/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card{
  background-color: #adbff4;
}
.td{
  display: flex;
  gap:5px;
  font-size: small;
} */
.editForm{
  display: flex;
  gap:2px;
  
}
.container{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 70%);
  gap:1rem;
}
@media screen and (max-width: 1242px) {
  .container{
    grid-template-columns: repeat(2, 70%);
  }
}
@media screen and (max-width: 804px) {
  .container{
    grid-template-columns: repeat(1, 70%);
  }
}
.wrapper {
  position: relative;
  height: 100vh;
}
.popup{
  background: url("https://64.media.tumblr.com/f816c9430a4851bb196e559ade3a99ad/tumblr_paqhc18jmD1xp1j77o1_500.gifv");
   min-height: 100vh;
   /* display: flex; */
   /* justify-content: center;  */
}

.cardbox{
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.loader{
  margin: 0 auto;
  /* padding-top: 50vh; */
  align-self: center;
}